body { font-family: 'Poppins', sans-serif; background: #f0f2f5; }
.chatbot-container {
    position: fixed; right: 20px; bottom: 60px;
    width: 350px; 
    height:550px;
    background: #fff;    
    z-index: 1000;  
    border-radius: 15px; box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5);
}
header { background: #007BFF; color: #fff; padding: 15px; border-radius: 15px 15px 0 0; height:60px; }
.chatbox { height: 400px; overflow-y: auto; padding: 15px; list-style: none; }
.chat { display: flex; margin: 10px 0; }
.chat p { padding: 10px; border-radius: 10px; max-width: 75%; font-size: 0.95rem; }
.incoming p { background: #f2f2f2; color: #000; }
.outgoing { justify-content: flex-end; }
.outgoing p { background: #007BFF; color: #fff; }
.chat-input { display: flex; padding: 10px; border-top: 1px solid #ccc; }
textarea { flex: 1; border: none; outline: none; resize: none; height: 40px; }
button { background: #007BFF; color: white; border: none; padding: 0 15px; cursor: pointer;  border-radius: 0.5rem;}

#loginBtn {
    position: fixed; right: 30px; bottom: 560px;
    display: flex;
    margin-left:250px;    
    align-items: center;  
    background-color: #f4623a;
    font: #fff;
    border-radius: 0.2rem;
    vertical-align: center;
  }