body {
    padding-left:200px;
    padding-right: 200px;
}

table td,
table th {
  padding: 0;
}

.c16 {
  background-color: #ffffff;
  padding-top: 0pt;
  border-bottom-color: #2da2bf;
  border-bottom-width: 1pt;
  padding-bottom: 4pt;
  line-height: 1.1;
  border-bottom-style: solid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c13 {
  margin-left: 36pt;  
}

.c0 {
  background-color: #ffffff;
  margin-left: 36pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c24 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1;
  font-size:9pt;
  orphans: 2;
  widows: 2;
  text-align: center;  
}

.c3 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c2 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal;
  font-size: 11pt;
}

.c5 {
  color: #0e0e24;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal;
}

.c22 {
  color: #073763;
  font-weight: 700;
  font-size: 11pt;
  font-family: "Arial";
}

.c14 {
  vertical-align: baseline;
  font-style: normal;
  text-decoration: none;
}

.c1 {
  font-size: 11pt;
  font-weight: 400;
}

.c11 {
  padding: 0;
  margin: 0;
}

.c8 {
  height: 9pt;
}



.title {
  padding-top: 0pt;
  color: #343434;
  border-bottom-color: #2da2bf;
  font-weight: 700;
  font-size: 26pt;
  padding-bottom: 4pt;
  line-height: 1;
  border-bottom-width: 1pt;
  font-family: "Lucida Sans";
  border-bottom-style: solid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.subtitle {
  padding-top: 18pt;
  color: #666666;
  font-weight: 700;
  font-size: 24pt;
  padding-bottom: 4pt;
  font-family: "Georgia";
  line-height: 1;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: Center;
}

li {
  color: #000000;
  font-weight: 700;
  font-size: 11pt;
  font-family: "Arial";
}

p {
  margin: 0;
  color: #000000;
  /* font-weight: 700; */
  font-size: 11pt;
  font-family: "Arial";
}

.main-page {
  min-height: calc(100vh - 62px);
  display: flex;
  min-width: 1024px;
  padding-left: 25px;
  padding-right: 25px;  
}

.main-page-primary {
  width: 250px;
  min-width: 250px;  
  min-height: calc(100vh - 62px);
  padding:15px; 
}

.main-page-secondary {
  padding-left:25px;
  margin-left:25px;  
  width: calc(100% - 250px);
  border-left: 1px solid #141313;
  min-width: 785px;
}

.aside-section {
  padding: 25px 5px; 
}

.author {
  width:100px;
  height:100px;
  padding:5px;
  border-radius: 100px;
}

.cert {
  display:flex;
  vertical-align: middle;
  padding: 0px 2px;
}

.cert img {
  margin:10px 0px;
}

.cert-txt {
  font-size:11pt;
  font-weight:400;
  text-align:center;
  padding: 25px 3px;
}

.conn {
  width:100px;
  display: inline-block;
  padding: 15px 3px;  
  text-align: center;
}

.exp div {
  padding:3px 0px;
}

.exp div div {
  padding:2px 0px;
}
